* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-rows: 80px 50px 1fr 45px;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
  height: 80vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-row-start: 1;
  grid-column: 1/-1;
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-between;
}

.logo {
  justify-self: start;
  align-self: center;
  /* margin-top: -9px;
  margin-left: -10px; */
}

.menu > ul {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  padding-left: 10vw;
}

.nav > ul {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  list-style: none;
  padding-top: 2px;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #FF7755;
  grid-area: 2 / 1 / 4 / 2;
  display: grid;
  gap: 50px;
  grid-template: repeat(4, 1fr) / 1fr;
  align-content: space-between;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar > div {
  display: grid;
  place-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: #FF7755;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  gap: 15px;
  overflow: auto;
  grid-template-rows: repeat(auto-fit, 230px);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / 5 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
